:host {
  width: 100%;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  display: grid;
  left: 0;
  justify-items: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  pointer-events: none;

  div {
    opacity: 0;

    &.show {
      animation: show 1s 0s linear forwards;
      opacity: 1;

      @keyframes show {
        0% {
          opacity: 1;
        }
        50% {
          transform: (scale(8));
          opacity: 0.5;
        }
        to {
          opacity: 0;
          transform: (scale(16));
        }
      }
    }
  }
}
