:host {
  width: 100%;
  height: 100%;
}
.spinner {
  animation: draaien 1000ms 0s infinite linear forwards;
  border-radius: 50%;
  border-top-color: lightgray;
  border: 7px solid black;
  height: 40px;
  left: 50px;
  position: absolute;
  top: 50px;
  width: 40px;
  z-index: 10;
}
@keyframes draaien {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
