:host {
  display: grid;
  height: 100%;
  grid-auto-rows: min-content;

  label {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  input {
    padding: 0.5rem;
  }
  p {
    background-color: white;
    margin-top: 0;
    padding: 2rem 2rem;
    color: black;
    overflow-y: scroll;
  }

  button {
  }
}
