:host {
  display: grid;
  height: 100%;
  // height: calc(var(--vh, 1vh) * 100);
  // overflow-y: scroll;
  justify-items: center;
  grid-auto-rows: min-content;
  padding: 2rem 1rem;
  box-sizing: border-box;

  app-blog {
    max-width: 800px;
    margin: 0 1rem 1rem 1rem;
  }

  @media screen {
  }
}
