<div class="buttons"><button *ngIf="admin"
          class="login"
          (click)="showLogin = !showLogin">login</button>

  <button *ngIf="admin"
          class="add-blog"
          (click)="onShowAddBlog()">add</button></div>

<app-login (password)="showLogin=!showLogin"
           [class.visible]="showLogin"></app-login>

<!-- *ngIf="loading" -->
<div class="loading">
</div>

<app-blog *ngFor="let blog of blogs; trackBy:trackByFn"
          (updatePost)="onSave($event)"
          (addEmoji)="onSaveEmoji($event)"
          [blog]="blog"
          [admin]="admin"></app-blog>
