:host {
  --width: 800px;
  box-sizing: border-box;
  display: grid;
  grid-auto-rows: min-content;
  grid-column: 2/3;
  height: 100%;
  justify-items: center;
  padding: 2rem 1rem;
  width: 100vw;

  app-blog {
    max-width: var(--width);
    margin: 0 0rem 1rem 0rem;
  }
  app-blog:last-of-type {
    margin-bottom: 0;
  }
}
