:host {
  --width: 800px;
  box-sizing: border-box;
  display: grid;
  grid-auto-rows: min-content;
  grid-column: 2/3;
  height: 100%;
  justify-items: center;
  padding: 2rem 1rem;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (min-width: 800px) {
    width: 100%;
  }

  app-blog {
    max-width: var(--width);
    margin: 0 0rem 1rem 0rem;
    grid-column: span 3;
    width: 100%;
  }
  app-blog:last-of-type {
    margin-bottom: 0;
  }

  app-login,
  app-add-blog {
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    display: grid;
    visibility: hidden;
    z-index: 3;
    width: 100%;
    height: 100%;
    transition: 300ms ease-out all;
    opacity: 0;

    &.visible {
      visibility: visible;
      opacity: 0.7;
    }
  }

  .buttons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 0.5rem;
    justify-self: left;
  }
  button {
    &.add-blog {
      justify-self: start;
    }
  }
}

.loading {
  --width: 40px;
  animation: draaien 1000ms 0s infinite linear forwards;
  border-radius: 50%;
  border: 7px solid black;
  border-top-color: var(--pri);
  height: var(--width);
  left: calc(50% - ((var(--width) + 18px) / 2));

  position: absolute;
  top: 50%;
  width: var(--width);
  z-index: 10;
}
@keyframes draaien {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
