<button *ngIf="admin"
        class="login"
        (click)="showLogin = !showLogin">login</button>

<button *ngIf="admin"
        class="add-blog"
        (click)="onShowAddBlog(addBlog)">add</button>

<app-add-blog #addBlog
              [class.visible]="showAddBlog"></app-add-blog>

<app-login (password)="showLogin=!showLogin"
           [class.visible]="showLogin"></app-login>

<app-blog *ngFor="let blog of blogs$ | async"
          (updatePost)="onSave($event)"
          [blog]="blog"
          [admin]="admin"></app-blog>
