/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: culonite;
  src: url("assets/Culonite-Regular.otf") format("truetype");
}

body {
  --pri: #69d2e7;
  --on-pri: #4d231a;
  --sec: #a7dbd8;
  --acc: #f38630;
  --acc2: #fa6900;
  --body: #e0e4cc;
  --radius: 0.3rem;

  width: 100vw;
  min-height: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;

  background-color: #fafafa;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--acc2);
  color: white;
  font-weight: bold;
  cursor: pointer;
  justify-self: left;
  margin-bottom: 1rem;
  text-transform: uppercase;

  transition: 200ms ease-out all;

  &:active {
    border: none;
  }

  &:focus {
    outline: none;
    border: 2px dotted black;
  }

  &:hover {
    transform: scale(1.1);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
