<div class="body">
  <div class="actions">
    <button *ngIf="admin && !editing"
            [class.save]="editing"
            (click)="onEdit([title,date,body])"
            type="button">edit</button>

    <button *ngIf="admin && editing"
            [class.save]="editing"
            (click)="onSave(body,[title,date,body])"
            type="button">save</button>

    <button *ngIf="admin && editing"
            (click)="onCancelEdit([title,date,body])"
            type="button">cancel</button>
  </div>

  <div class="title">
    <h1 #title
        contenteditable="false">{{ blog.title }}</h1>

    <span #date
          contenteditable="false"
          class="date">{{ blog.date }}</span>
  </div>

  <p #body
     contenteditable="false"
     [innerHTML]="blog.body"></p>


  <div class="reaction-wrapper">
    <button class="reaction"
            (click)="addReaction(item.key,$event)"
            *ngFor="let item of blog?.votes | keyvalue; trackBy:trackByFn">
      <div class="emoji-rating">{{ item.key }}</div>

      <span>{{ item.value.length }}</span>
    </button>
  </div>
</div>
