:host {
  --radius: 0.3rem;
  --margin: 0.3rem;
  background-color: white;
  border-radius: var(--radius);
  // border: 5px solid var(--pri);
  color: white;
  display: grid;
  // grid-template-rows: 4rem auto;
  font-family: "Roboto", sans-serif;

  > * {
    padding: 1rem;
  }
}

.header-wrapper {
  font-size: 10px;
  margin-bottom: var(--margin);
}
h2 {
  margin: 0;
  color: var(--pri);
  font-family: culonite;
}

.body {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0;
  color: var(--on-pri);
  position: relative;
  z-index: 2;

  .date {
    color: var(--acc);
    font-family: culnorite;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
