:host {
  --radius: 0.3rem;
  --margin: 0.3rem;
  background-color: white;
  border-radius: var(--radius);
  color: white;
  display: grid;
  font-family: "Roboto", sans-serif;

  > * {
    padding: 1rem;
  }
}

.title {
  align-items: center;
  display: grid;
  grid-auto-flow: column;

  .date {
    justify-self: end;
    color: var(--acc);
    font-family: culnorite;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
h1 {
  margin: 0;
  color: var(--pri);
  font-family: culonite;
}

.body {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0;
  color: var(--on-pri);
  position: relative;
  z-index: 2;
}

.save {
  background-color: lime;
}
