<div class="body">
  <button *ngIf="admin && !editing"
          [class.save]="editing"
          (click)="onEdit(body)"
          type="button">edit</button>

  <button *ngIf="admin && editing"
          [class.save]="editing"
          (click)="onSave(body)"
          type="button">save</button>

  <div class="title">
    <h1>{{ blog.title }}</h1>

    <span class="date">{{ blog.date }}</span>
  </div>

  <p #body
     contenteditable="false"
     [innerHTML]="blog.body"></p>


  <div class="reaction-wrapper">
    <button class="reaction"
            (click)="addReaction(item.key,$event)"
            *ngFor="let item of blog?.votes | keyvalue">
      <div class="emoji-rating">{{ item.key }}</div>

      <span>{{ item.value.length }}</span>
    </button>
  </div>
</div>
