:host {
  --radius: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  color: white;
  display: grid;
  grid-template-rows: 4rem auto;

  > * {
    padding: 1rem;
  }
}

h2 {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  margin: 0;
  background-color: var(--pri);
  font-family: culonite;
}

.body {
  border: 1px solid lightgray;
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0;
  color: var(--on-pri);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  position: relative;
  z-index: 2;

  .date {
    color: var(--acc);
  }

  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    // background: url("/assets/mon2.jpg");
    opacity: 0.15;
  }
}
