<div class="body">
  <div class="actions">
    <button *ngIf="admin && !editing"
            [class.save]="editing"
            (click)="onEdit()"
            type="button">edit</button>

    <button *ngIf="admin && editing"
            [class.save]="editing"
            (click)="onSave(textareaBody,[title,date])"
            type="button">save</button>

    <button *ngIf="admin && editing"
            (click)="onCancelEdit()"
            type="button">cancel</button>
  </div>

  <div class="title">
    <h1 #title
        [contentEditable]="contentEditable">{{ blog.title }}</h1>

    <span #date
          [contentEditable]="contentEditable"
          class="date">{{ blog.date }}</span>
  </div>

  <p #body
     *ngIf="!editing"
     contenteditable="false"
     [innerHTML]="blog.body"></p>


  <textarea #textareaBody
            [class.editing]="editing"
            [disabled]="!editing"
            [value]="blog.body"
            [contentEditable]="contentEditable"> </textarea>

  <div class="reaction-wrapper">
    <button class="reaction"
            (click)="addReaction(item.key,$event)"
            *ngFor="let item of blog?.votes | keyvalue; trackBy:trackByFn">
      <div class="emoji-rating">{{ item.key }}</div>

      <span>{{ item.value.length }}</span>
    </button>
  </div>

  <app-lightbox [editing]="editing"
                (changedImgArray)="blog.srcs =$event"
                (changedImgSrc)="changedImgSrc($event)"
                (addImageSrc)="addImageSrc($event)"
                (removeImageSrc)="removeImageSrc($event)"
                [srcs]="blog.srcs"></app-lightbox>

</div>
